:root {
    --primary-bg: #E5E5E5;
    --primary-brand: #4d5ae5;
    --navy-biue: #2e2f42;
    --body-text: #434455;
    --subtle-text: #8e8f99;
    --accent-color: #e7e9fc;
    --light-cloud: #f4f4fd;
    --green: #31d0aa;
    --white: #ffffff;
    --focus-button: #404BBF;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text);
    background-color: var(--white);
}
ul {
    list-style: none;
}
.logo, .web {
    text-transform: uppercase;
    text-decoration: none;
}
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--navy-biue);
    font-weight: 800;
    font-size: 18px;
}
.logo:hover,
.web:hover {
    color: var(--body-text);
}
.logo:focus,
.web:focus {
    color: var(--primary-brand); 
}
.web {
    font-family: 'Raleway', sans-serif;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
}
.link-nav {
    color: var(--navy-biue);
    font-weight: 600;
    text-decoration: none;
}
.link-nav:hover {
    color: var(--body-text);
}
.link-nav:focus {
    color: var(--primary-brand);
}
.primary-contact {
    color: var(--body-text);
    text-decoration: none;
}
.primary-contact:hover,
.primary-contact:focus {
    color: var(--primary-brand);
}
.hero {
    color: var(--white);
    font-size: 56px;
    font-weight: 600;
    
}
.section-hero {
    background-color: var(--navy-biue);
}
.footer {
    background-color: var(--navy-biue);
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--light-cloud);
    font-weight: 800;
    font-size: 18px;
}

.logo-footer:hover,
.web-footer:hover {
    color: var(--body-text);
}
.logo-footer:focus,
.web-footer:focus {

    color: var(--primary-brand);
}
.web-footer {

    font-family: 'Raleway', sans-serif;
    color: var(--primary-brand);
    font-weight: 800;
    font-size: 18px;
}
.footer-text {
    color: var(--accent-color);
}
.subtitle {
    color: var(--navy-biue);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.section-title {
    color: var(--navy-biue);
    font-size: 36px;
    font-weight: 600;
}
.team {
    background-color: var(--light-cloud);
}
.button {
   color: inherit;
   background-color: var(--white);
   cursor: pointer;
   font-weight: 600;
}
.button.primary {
    color: var(--white);
    background-color: var(--primary-brand);
}
.button.secondary {
    color: var(--primary-brand);
    background-color: var(--white);
}
.button.primary:hover, 
.button.secondary:hover{
    color: var(--white);
    background-color: var(--primary-brand);
}
.button.primary:focus,
.button.secondary:focus {
    color: var(--white);
    background-color: var(--focus-button);
}
.cards-team {
    background-color: var(--white);
}
.section {
    background-color: var(--primary-bg);
}
.cards-portfolio {
    background-color: var(--light-cloud);
}